
.afterLogin2 {
    position: relative;
    /* top: 100px; */
    left: 900px;
    width: 300px;
    height: 550px;
    bottom: 100px;
    border: 3px solid green;
    overflow-y: hidden;

}


.dashboardContainer {
    /* padding-top: 80px; */
    display: flex;
}

.ownPosts {
    /* margin-top: auto; */
    height: 520px;
    overflow-y:scroll;
    border: 1px solid black;
    box-sizing: border-box;
    padding-right: 40px;
    flex:2.1;
}

.ownPosts > *:last-child {
    margin-bottom: 100px; /* Adjust the margin as needed */
  }

.serachUser { 
    flex:1.2;
    padding-left: 50px;
}

.dashboard1 {
    /* padding: 10px; */
    flex:1;
}

.read-more-link{
    color: rgb(115, 11, 212);
    text-decoration: inherit;
    /* letter-spacing: 1px; */
    cursor: grab;
}

.delete-button{
    color: #861515;
    font-size: 18px;
    cursor: pointer;
    transition: red 0.3s ease;

    &:hover {
        color: red; /* Darker red on hover */
    }
}