.system_box {
    height: 200px;
    overflow-y:auto; /* Enable vertical scrolling */
    border: 3px dotted red; /* Add border or other styling as needed */
    /* border-top: transparent; */
    padding: 10px; /* Add padding for spacing */
    background-color:ivory;
    color: rgb(17, 10, 24);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.main_home_page{
    border: 2px solid #e46f6f; 
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 25px 200px rgba(119, 53, 53, 3);
    background-color: #f9dada;
}

.header-text{
    text-align: center;
    font-size: 20px;
    color:rgb(117, 0, 102)
}

.cpu-memory-container {
    display: flex; /* Make the boxes flex containers */
}


.cpu_box {
    flex: 1;
    height: 200px;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 3px dotted #3a56f0; /* Add border or other styling as needed */
    padding: 10px; /* Add padding for spacing */
    width: 350px;
    color: rgb(17, 10, 24);
    background-color:ivory;
    font-family:'Courier New', Courier, monospace;
    margin-right: 3px; /* Add right margin for space between boxes */
}

.memory_box {
    flex: 2;
    height: 200px;
    overflow-y: auto; /* Enable vertical scrolling */
    border: 3px dotted hsl(98, 94%, 55%); /* Add border or other styling as needed */
    padding: 10px; /* Add padding for spacing */
    width: 350px;
    background-color: ivory;
    outline: invert;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.backend_down {
    display: flex;
    background-color: ivory;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: xx-large;
    width: 100%; /* Use 100% width to span the entire viewport width */
    font-weight: bold;
    height: 70vh; /* Use 100vh to span the entire viewport height */
    color: rgb(189, 64, 64);
}