

header {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    line-height: 20px;
    background-color: #eee;
}

header *{
    display: inline;
    height: 10px;
}

header ul {
    padding: 465px;
}

header li {
    margin-left: 10px;
}

.textHomePage{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
}