
.header {
    align-self: stretch;
}
  
.header h1 {
/* Non-accessible color */
    color: #edc84b;
    /* color: #af8602; */

    text-transform: uppercase;
    text-align: center;
    font-size: 5.2rem;
    font-weight: 300;
    letter-spacing: 3px;
    position: relative;
    width: 100%;
    display: block;
}

.header h1::before,
.header h1::after {
    display: block;
    content: '';
    height: 3px;
    width: 12rem;
    background-color: #edc84b;
    position: absolute;
    top: calc(50% - 1px);
}

.header h1::before {
    left: 0;
}

.header h1::after {
    right: 0;
}


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
  
.menu h2 {
    display: inline-block;
    padding: 1rem 0;
    border-top: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}
  
.menu > p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
    width: 80%;
}
