.image-container {
    /* transition: transform 0.3s ease-in-out; */
    /* cursor: pointer;
    width: 10%;
    height: 10%; */
  }
  
  .image-container:hover {
    transform: scale(1.1);
  }
  
  .image-container.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .image-container.zoomed img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  

.zoomable-image-container {
    overflow: hidden;
    width: 180px; /* Set the initial width */
    height: 110px; /* Maintain aspect ratio */
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    position: relative;
}

.zoomable-image-container:hover {
    width: 320px; 
    height: 320px; 
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    transition: transform 0.1s ease-in-out;
    /* transform: translate(-50%, -50%); */
}

.zoomable-image {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    /* width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.zoomable-image-container:hover .zoomable-image {
    transform: scale(1); /* Increase the scale on hover */
    background-color: aquamarine;
}


.zoomable-video {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}