.toggle {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 27px;
}
 
/* Hide the checkbox input */
.toggle input {
    display: none;
}
 
/* Describe slider's look and position. */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    transition: .4s;
    border-radius: 30px;
}
 
/* Describe the white ball's location 
      and appearance in the slider. */
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 40%;
}
 
/* Modify the slider's background color to 
      green once the checkbox has been selected. */
input:checked+.slider {
    background-color: blue;
}
 
/* When the checkbox is checked, shift the 
      white ball towards the right within the slider. */
input:checked+.slider:before {
    transform: translateX(26px);
}